@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,500,500i,700,700i,900,900i&subset=latin-ext');

$color1: #1e315f;
$color2: #f6b436;
$color3: #09183c;

$excolor4: #1e315f;
$excolor5: #551133;
$excolor6: #553311;

$xsJumboSize: 1;
$smJumboSize: 750px;
$mdJumboSize: 3;
$lgJumboSize: 4;

html, body {
  font-family: 'Raleway', 'Helvetica Neue', sans-serif;
  height: 100%;
}

$bgDefault      : #09183c;
$bgHighlight    : #1e315f;
$colDefault     : #ffffff;
$colHighlight   : #f6b436;
$dropDown       : true;
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colHighlight;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li {
            > a {
              color: $colDefault;
              &:hover,  &:focus {
                color: $colHighlight;
                background-color: $bgHighlight; }}
            > .divider {
              background-color: $bgHighlight;}}}}}
    @if $dropDown {
      .open .dropdown-menu > .active {
        > a, > a:hover, > a:focus {
          color: $colHighlight;
          background-color: $bgHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    background-color: $bgDefault;
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}

nav {
  background-color: $bgDefault;
}

.nav-container {
  background-color: $bgDefault;
}

.main-title-text {
  text-transform: uppercase;
}

.title-text {
  text-align: center;
}

h1 {
  font-weight: bold;
}

.navbar-btn {
  margin-right: 8px;
  margin-left: 8px;
}

//use media screen to make background image jump size
#mainJumbo {
  height: 300px;
  margin-top: 50px;
  padding: 0;
  background-image: url("../defaultBackground.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.main {
  margin-top: 50px;
}

.btn-a {
  margin: 0 !important;
  padding: 0 !important;
}

form input, form textarea {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

#schedule {
  margin-left: auto;
  margin-right: auto;
}

.panel-heading {
  text-align: center;
}

.panel {
  margin-top: 20px !important;
}

.panel-footer {
  text-align: center;
}

.index-main {
  position: relative;
  overflow: hidden;
  background-color: black;
  color: white;
  height: inherit;
}
.index-main:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.6;
  background-image: url('../defaultBackground.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

.index-main {
  h1, h2, h3, h4, h5, h6 {
    z-index: 2;
  }
}