@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,500,500i,700,700i,900,900i&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,200i,400,400i,700,700i&subset=latin-ext');
@import url('https://file.myfontastic.com/d8T4FMaZGu48ymeCyW3pVP/icons.css');

$color1: #04004e;
$color2: #5a578a;
$color3: #ffed4e;
$color4: #2f2c6c;
$backgroundcolor: #213e72;
$white: #f3fff6;

$xsJumboSize: 1;
$smJumboSize: 750px;
$mdJumboSize: 3;
$lgJumboSize: 4;

html, body {
  font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
  height: 100%;
  background: $color1;
  h1 {
    color: white;
  }
}

$bgDefault      : $color1;
$bgHighlight    : $color2;
$colDefault     : $color2;
$colHighlight   : $color3;
$dropDown       : true;
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colHighlight;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li {
            > a {
              color: $colDefault;
              &:hover,  &:focus {
                color: $colHighlight;
                background-color: $bgHighlight; }}
            > .divider {
              background-color: $bgHighlight;}}}}}
    @if $dropDown {
      .open .dropdown-menu > .active {
        > a, > a:hover, > a:focus {
          color: $colHighlight;
          background-color: $bgHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    background-color: $bgDefault;
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}

nav {
  background-color: $bgDefault;
}

.nav-container {
  background-color: $bgDefault;
}

.main-title-text {
  text-transform: uppercase;
}

.title-text {
  text-align: center;
  color: white;
}

h1 {
  font-weight: bold;
}

.navbar-btn {
  margin-right: 8px;
}

.main {
  padding-top: 50px;
}

.btn-a {
  margin: 0 !important;
  padding: 0 !important;
}

form input, form textarea {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

form textarea {
  resize: vertical;
}

form input:focus, form textarea:focus {
  outline-color: $color3;
}

#schedule {
  margin-left: auto;
  margin-right: auto;
}

.panel-heading {
  text-align: center;
}

.panel {
  margin-top: 20px !important;
}

.panel-footer {
  text-align: center;
}

.index-main {
  position: relative;
  color: white;
  height: inherit;
  margin-top: 0;
}
.index-main:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-repeat: no-repeat;
  background-position: 50% 0;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

.index-main {
  h1, h2, h3, h4, h5, h6 {
    z-index: 2;
    position: relative;
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
}

#main-title {
  margin-top: -100px;
}



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
[id^=close] {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

[id^=close]:hover,
[id^=close]:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

[id^=myImg] {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

[id^=myImg]:hover {opacity: 0.7;}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

.modal-content {
  text-align: center;
  h5 {
    line-height: 1.5;
  }
}

.staff-row {
  margin-bottom: 20px;
}

.staff-row:last-child {
  margin-bottom: 0;
}

.panel-big {
  display: block;
}

.panel-medium {
  display: none;
}

.panel-small {
  display: none;
}

@media screen and (max-width: 776px){
  .panel-big{
     display: none;
   }
  .panel-medium{
    display: block;
  }
  .panel-small{
    display: none;
  }
  .modal-content {
    margin: 20% auto;
  }
}

@media screen and (max-width: 500px){
  .panel-big{
    display: none;
  }
  .panel-medium{
    display: none;
  }
  .panel-small{
    display: block;
  }
  .modal-content {
    margin: 25% auto;
  }
}


//ABOUT PAGE FULL SIZE BACKGROUND

.container {

  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;

  overflow: hidden !important;

}

.container img {

  position: absolute !important;
  top: 50% !important;
  left: 50% !important;

  width: auto !important;
  height: auto !important;

  max-height: none !important;
  max-width: none !important;

  min-height: 100% !important;
  min-width: 100% !important;

  transform: translate(-50%, -50%) !important;
  -ms-transform: translate(-50%, -50%) !important;
  -webkit-transform: translate(-50%, -50%) !important;

}

//NAVBAR COLLAPSE
@media (max-width: 902px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in{
    display:block !important;
  }
}


//circle background
#circle {
  position: absolute;
  left: -20em;
  top: -10em;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 150%;
  background: $color2;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

#headerDiv img {
  width: 100%;
}

//carousel imgs
.carousel-control.left, .carousel-control.right {
  background-image: none !important;
}

.item {
  width: 800px;
  margin: auto;
}

.main > * > h4 {
  color: white;
}

.panel {
  box-shadow: none;
}

//schedule row colors
.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th, .table-striped > thead > tr > th{
  background-color: white !important;
}

.panel-group > .panel {
  border-color: $color3;
  .panel-heading {
    background-color: $color3;
  }
}

h5 a {
  color: #ddd;
  text-decoration: underline;
}

h5 a:hover {
  color: #bbb;
}

#widget {
  padding-bottom: 50px;

  .bpt_widget_box_body {
    border: none;
  }

  .bpt-widget-price-description {
    border-bottom: 1px dotted #d1d2d4 !important;
  }

  .bpt-widget-date-price-titles {
    border-bottom: dotted 1px #6d6e71 !important;
  }

}

.about-text {
  line-height: 200%;
}

@media screen and (max-width: 700px){
  #resize{
    margin-left: 0;
  }
}

@media screen and (max-width: 640px){
  #widget{
    width: 200px !important;
  }
}

.small-nav {
  display: none;
}

@media screen and (max-width: 370px) {
  .big-nav {
    display: none;
  }
  .small-nav {
    display: block;
  }
}

.hsArtist img {
  margin-bottom: 20px;
}

//ABOUT BACKGROUND TAKE TWO
.bg {
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0.4;
  background: url('../candidSelfie.JPG') no-repeat center center fixed !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

#about-body {
  background-color: black !important;
}

#main-body {

  background: $color2;

  .big-row {
    height: 100%;
  }

  .container-fluid {
    height: 100%;
  }

  .sidebar {
    height: 100%;
    padding: 0;
    position: fixed;
    background-color: $backgroundcolor;
  }

  .sidebar-left {
    background: url("../mataVertBanner.png");
    background-size: 100% 100% !important;
  }

  .sidebar-right {

    img {
      height: 150px;
      display: block;
      margin: 20px auto;
    }

  }

  .big-main {
    display: block;
  }

  .small-main {
    display: none;
  }

  @media screen and (max-width: 425px){
    .big-main {
      display: none;
    }
    .small-main {
      display: block;
    }
    .sidebar {
      display: none;
    }
  }

  main {

    #main-box {
      background-color: $color4;
      position: relative;
      margin-top: 250px;
    }

    @media screen and (min-width: 1500px){
      #main-box {
        margin-top: 350px;
      }
    }

    @media screen and (max-width: 900px){
      #main-box {
        h1 {
          font-size: 1.7em !important;
        }
        h2 {
          font-size: 1.6em !important;
        }
        h3 {
          font-size: 1.4em !important;
        }
        h4 {
          font-size: 1.3em !important;
        }
        h5 {
          font-size: 1.1em !important;
        }
      }
    }

    #crossfade {
      margin-top: 50px;
    }

    #crossfade > img {
      width: 100%;
      height: auto;
      min-height: 200px;
      position: absolute;
      top: 0px;
      left: 0px;
      color: transparent;
      opacity: 0;
      z-index: 0;
      -webkit-backface-visibility: hidden;
      -webkit-animation: imageAnimation 30s linear infinite 0s;
      -moz-animation: imageAnimation 30s linear infinite 0s;
      -o-animation: imageAnimation 30s linear infinite 0s;
      -ms-animation: imageAnimation 30s linear infinite 0s;
      animation: imageAnimation 30s linear infinite 0s;
    }

    #crossfade > img:nth-child(2)  {
      -webkit-animation-delay: 6s;
      -moz-animation-delay: 6s;
      -o-animation-delay: 6s;
      -ms-animation-delay: 6s;
      animation-delay: 6s;
    }
    #crossfade > img:nth-child(3) {
      -webkit-animation-delay: 12s;
      -moz-animation-delay: 12s;
      -o-animation-delay: 12s;
      -ms-animation-delay: 12s;
      animation-delay: 12s;
    }
    #crossfade > img:nth-child(4) {
      -webkit-animation-delay: 18s;
      -moz-animation-delay: 18s;
      -o-animation-delay: 18s;
      -ms-animation-delay: 18s;
      animation-delay: 18s;
    }
    #crossfade > img:nth-child(5) {
      -webkit-animation-delay: 24s;
      -moz-animation-delay: 24s;
      -o-animation-delay: 24s;
      -ms-animation-delay: 24s;
      animation-delay: 24s;
    }

    @-webkit-keyframes imageAnimation {
      0% { opacity: 0;
        -webkit-animation-timing-function: ease-in; }
      8% { opacity: 1;
        -webkit-animation-timing-function: ease-out; }
      17% { opacity: 1 }
      25% { opacity: 0 }
      100% { opacity: 0 }
    }

    @-moz-keyframes imageAnimation {
      0% { opacity: 0;
        -moz-animation-timing-function: ease-in; }
      8% { opacity: 1;
        -moz-animation-timing-function: ease-out; }
      17% { opacity: 1 }
      25% { opacity: 0 }
      100% { opacity: 0 }
    }

    @-o-keyframes imageAnimation {
      0% { opacity: 0;
        -o-animation-timing-function: ease-in; }
      8% { opacity: 1;
        -o-animation-timing-function: ease-out; }
      17% { opacity: 1 }
      25% { opacity: 0 }
      100% { opacity: 0 }
    }

    @-ms-keyframes imageAnimation {
      0% { opacity: 0;
        -ms-animation-timing-function: ease-in; }
      8% { opacity: 1;
        -ms-animation-timing-function: ease-out; }
      17% { opacity: 1 }
      25% { opacity: 0 }
      100% { opacity: 0 }
    }

    @keyframes imageAnimation {
      0% { opacity: 0;
        animation-timing-function: ease-in; }
      8% { opacity: 1;
        animation-timing-function: ease-out; }
      17% { opacity: 1 }
      25% { opacity: 0 }
      100% { opacity: 0 }
    }

  }
}